html, body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
}

.loginBar {
  text-align: right;
}

.topBar {
  margin: 8px 8px 0;
  display: flex;
  flex-direction: row;
  height: 48px;
  min-height: 48px;
}

.topBarButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 48px;
}

.itemButton {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.itemLabel {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

.itemButtonDisabled {
  border-bottom: 2px solid #fff;
}

.itemButtonEnabled {
  border-bottom: 2px solid #000;
}

.textInput {
  margin: 0 8px 0;
  width: initial;
}

.card {
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 8px 8px 0;
  padding: 16px;
}

.headline {
  font-size: 24px;
  line-height: 32px;
}

.text {
  font-size: 14px;
  letter-spacing: .01em;
  line-height: 20px;
}

.space8 {
  padding-top: 8px;
}

.fabContainer {
  position: fixed;
}

@media (max-width: 799px) {
  .fabContainer {
    bottom: 16px;
    right: 16px;
  }
}

@media (min-width: 801px) {
  .fabContainer {
    bottom: 24px;
    right: 24px;
  }
}

.fab {
  background-color: #c8c8c8;
}